# Keycloak Configuration
NUXT_KEYCLOAK_BASE_URL=
NUXT_KEYCLOAK_REALM=
NUXT_OIDC_PROVIDERS_KEYCLOAK_CLIENT_ID=

# Session
NUXT_OIDC_SESSION_SECRET=

# App
NUXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NUXT_OIDC_PROVIDERS_KEYCLOAK_LOGOUT_REDIRECT_URI=http://localhost:3000/login
