# Keycloak Configuration
NUXT_OIDC_PROVIDERS_KEYCLOAK_BASE_URL=
NUXT_OIDC_PROVIDERS_KEYCLOAK_CLIENT_ID=
NUXT_OIDC_PROVIDERS_KEYCLOAK_CLIENT_SECRET=
NUXT_OIDC_PROVIDERS_KEYCLOAK_REDIRECT_URI=http://localhost:3000/auth/keycloak/callback
NUXT_OIDC_PROVIDERS_KEYCLOAK_LOGOUT_REDIRECT_URI=http://localhost:3000/login

# Session
NUXT_OIDC_SESSION_SECRET=
NUXT_OIDC_AUTH_SESSION_SECRET=
NUXT_OIDC_TOKEN_KEY=

# App
NUXT_PUBLIC_APP_BASE_URL=http://localhost:3000
